.album {
    width: 150px;
    height: 150px;
    float: left;
     -webkit-opacity: 0.45;
  -moz-opacity: 0.45;
/*  opacity: 0.45;*/
/*    outline: blue solid 1px;  */
    z-index: 1;
}

.album:hover {
    position: relative;
/*
    top: -10px; 
    bottom: -10px;
*/
    transition: 0;
     -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
/*    transform: rotateY(180deg);*/
    z-index: 2;
   
}

img {
    
    width: 150px;
    height:150px;
}

img:hover {
    display: block;
    margin: -50px;
/*    float: center;*/
    width: 250px;
    height: 250px;
    transition: 0.7s;
    padding-top: 0px;
    opacity: 1;
    z-index: 2000;
}

h2 {
    
    text-align: center;
    font-size: 1.3em;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}

p {
    font-family: helvetica;
    color: purple;
    font-size: 1.5em;
    text-align: center;
}

input{
/*    outline: deeppink solid 1px;*/
    text-align: center;
    margin: auto;
    display: block;
    float: center;
    border-radius: 25px;
}

button {
    text-align: center;
     margin: auto;
    display: block;
    float: center;
}

.myClass {
    text-align: center;
    color: black;
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    outline: black solid 2px;
/*    background-color: lightyellow;*/
}

.car {
      width: 200px;
    height: 200px;
    display: block;
    margin: auto;
/*    float: center;*/
    outline: black solid 1px;  
}